name: "trufflehog"

on:
  push:
    branches:
      - "main"
  pull_request:

permissions:
  contents: read

jobs:
  scan:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: "trufflesecurity/trufflehog@c563a0692fa2017ff949d219cc9f586293d41e66" # main
        with:
          extra_args: "--results=verified,unknown"
